/* You can add global styles to this file, and also import other style files */
body, html {
	width: 100%;
	height: 100%;

	padding: 0px;
	margin: 0px;
}

.map {
	width: 100%;
	height: 100%;
}

.ui-overlay {
	position: absolute;
	bottom: 48px;
	left: 48px;
}

.fab {
	padding: 16px;
	cursor: pointer;
	background-color: #669922;
	color: #fff;
	border-radius: 50px;
}

h3 {
	margin: 4px 0px;
}
